<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<!--todoItems & second item.content will be underlined in red in Intellij-->
<!---->
<h2>Add to your list of things todo</h2>

    <form th:action="@{/add}" th:object="${item}" method="post" >

        <input type="hidden" th:field="*{id}"/>

        <input type="text" name="entryfield" value="Walk the dog" th:field="*{content}"/>
        <input type="submit" value="Add to your list."/>
    </form>

    <table>
        <tr>
            <th>Item</th>
            <th>Delete</th>
        </tr>
        <tr th:each="item : ${items}">
            <td th:text="${item.content}"></td>
            <td><a th:href="${'/remove/' + item.id}">Delete</a></td>
        </tr>
    </table>
</body>
</html>