<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <th:block th:include="fragments/head :: head"></th:block>

    <meta charset="UTF-8"/>
    <title>Todo List</title>
</head>
<body>

<!--todoItems & second itemEntity.content will be underlined in red in Intellij-->
<!---->
<h2>Add to your list of things todo</h2>

    <form th:action="@{/add}" th:object="${itemEntity}" method="post" >

        <input type="hidden" th:field="*{id}"/>

        <input type="text" name="entryfield" value="Walk the dog" th:field="*{content}"/>
        <select>
            <option>Select a Category</option>
            <option th:each="categoryEntity : ${categoryEntities}" th:value="${categoryEntity.id}" th:text="${categoryEntity.categoryName}"
                th:field="${categoryEntity}"></option>
        </select>
        <input type="submit" value="Add to your list."/>
    </form>

    <table class="table table-striped">
        <tr>
            <th>Item</th>
            <th>Delete</th>
        </tr>
        <tr th:each="itemEntity : ${itemEntities}">
            <td th:text="${itemEntity.content}"></td>
            <td th:text="${itemEntity.categoryEntity.categoryName}"></td>
            <td><a th:href="${'/remove/' + itemEntity.id}">Delete</a></td>
        </tr>
    </table>
</body>
</html>